// @import 'mixins.scss';
// @import 'variables.scss';

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "scss/functions";

// 2. Include any default variable overrides here

$enable-negative-margins:     true;
$red: #c00;




// 3. Include remainder of required Bootstrap stylesheets
@import "scss/variables";
@import "scss/mixins";

// Utilities
@import "scss/utilities";
@import "scss/utilities/api";

// 4. Include any optional Bootstrap components as you like
@import "scss/root";
@import "scss/reboot";
@import "scss/type";
@import "scss/buttons";
@import "scss/card";
@import "scss/nav";
@import "scss/navbar";
@import "scss/list-group";
@import "scss/transitions";
@import "scss/images";



@import "scss/helpers/colored-links";


// @import "scss/images";
@import "scss/containers";
@import "scss/grid";
@import "scss/type";

// 5. Add additional custom code here



// *,
// *::after,
// *::before {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }

// ********************
// * Globals
// ********************

$d-array: inline, inline-block, block, grid, table, table-row, table-cell, flex, inline-flex, none;

.preloader{
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 5s ease-out;

    img{
        width: 250px;
        opacity: 0;
        animation: 2s linear infinite preloaderAni;
    }

    &.on{
        opacity: 0;
        pointer-events: none;

        img{
            animation: none;
        }
    }


    @keyframes preloaderAni {
        100%, 0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
}

body{
    // background-image: url(../img/OOTR.png);
    // background-size: cover;
    // background-position: center;

    background-color: $black;
    // color: $white;
    height: 100%;

}

.font-chizel{
    font-family: 'Cinzel', serif;
}

header{
    background-color: #000000;
    @extend .font-chizel;
    font-weight: bold;

    .header-copy{
        color: #ffffff;
    }

    &.on{
        // background-color: #ffffff;
        transition: background-color 1s;

        .header-copy{
            color: #000000;
        }
    }

    img{
        @include media-breakpoint-up(md){
            width: auto !important;
            // flex: 1 1 auto !important;
        }
    }
}

.section:not(.active-section) {
    display: none !important;
}

.mega-h1{
    @include media-breakpoint-up(md){
        font-size: $font-size-base * 2;
    }
    @include media-breakpoint-up(lg){
        font-size: $font-size-base * 3;
    }
    @include media-breakpoint-up(xl){
        font-size: $font-size-base * 4;
    }
}
// .container {

//     width: 100%;
//     max-width: 1200px;
//     margin: 0 auto;
//     position: relative;
//     padding: 1em;

//     background-color: rgba($color: #ffffff, $alpha: 0.1);
//     @include media-breakpoint-up(lg){
//         background-color: unset;
//     }
// }

.main-container{
    text-shadow: 0 0 5px red;
    // height: 100%;
    // align-items: stretch;
    h1{
        font-size: 2.5em;
    }
}

#hype {

    iframe {
        min-height: 200px;

        @include media-breakpoint-up(lg){
            // height: 400px;
            min-height: 400px;
        }
    }
}

.video-container{
    iframe{
        width: 100%;

        @include media-breakpoint-up(lg){
            // height: 400px;
        }
    }
}

.socials {

    img {
        width: 25px;
    }

    @include media-breakpoint-up(lg){

        img {
            width: 30px;
        }

    }

}


// Animations

.blackoverlay{
    // background: #000000;
    will-change: filter;
    filter: brightness(0);
    transition: filter 1.5s ease-out;

    &.on{
        filter:  brightness(100%);
    }


}

.slideup {
    transform: translate3d(0, 150%, 0);
    will-change: transform;


    &.on{
        transform: translate3d(0, 0, 0);
        transition: transform 1s ease-out;
    }
}

.fadein {
    will-change: opacity;
    opacity: 0;

    &.on{
        opacity: 1;
        transition: opacity 1s ease-out;
    }
}

.slamin {
    will-change: opacity, transform;

    opacity: 0;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.2s ease-out 0.4s, opacity 0.2s ease-out 0.4s;

    &.on{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.maskdown{
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    transition: height 1s ease-out;
    will-change: height;


    &.on {
        height: 100%;
    }
}


// Include the bootstrap file that makes all
// the classes based on the above variables
// @import 'bootstrap.scss';
