// @import 'mixins.scss';
// @import 'variables.scss';

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "scss/functions";

// 2. Include any default variable overrides here

$enable-negative-margins:     true;
$red: #c00;




// 3. Include remainder of required Bootstrap stylesheets
@import "scss/variables";
@import "scss/mixins";

// Utilities
@import "scss/utilities";
@import "scss/utilities/api";

// 4. Include any optional Bootstrap components as you like
@import "scss/root";
@import "scss/reboot";
@import "scss/type";
@import "scss/buttons";

// @import "scss/images";
@import "scss/containers";
@import "scss/grid";
@import "scss/type";

// 5. Add additional custom code here



*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// ********************
// * Globals
// ********************

.preloader{
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    img{
        width: 250px;
        opacity: 1;
        animation: 2s linear infinite preloaderAni;
    }

    &.on{
        opacity: 0;
        transition: opacity 0.5s ease-out 1s;
        pointer-events: none;

        img{
            opacity: 0;
            transition: opacity 1s ease-out;
            animation: none;
        }
    }


    @keyframes preloaderAni {
        100%, 0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
}

body{
    // background-image: url(../img/OOTR.png);
    // background-size: cover;
    // background-position: center;

    background-color: $black;
    // color: $white;
    height: 100%;

}

h1, h2{
    font-family: 'Cinzel', serif;
}

// .container {

//     width: 100%;
//     max-width: 1200px;
//     margin: 0 auto;
//     position: relative;
//     padding: 1em;

//     background-color: rgba($color: #ffffff, $alpha: 0.1);
//     @include media-breakpoint-up(lg){
//         background-color: unset;
//     }
// }

.main-container{
    text-shadow: 0 0 5px red;
    // height: 100%;
    // align-items: stretch;
    h1{
        font-size: 2.5em;
    }
}

.video-container{
    iframe{

        @include media-breakpoint-up(lg){
            width: 60%;
            height: 400px;
        }
    }
}

.socials {

    img {
        width: 25px;
    }

    @include media-breakpoint-up(lg){

        img {
            width: 40px;
        }

    }

}


// Include the bootstrap file that makes all
// the classes based on the above variables
// @import 'bootstrap.scss';
