// Colors
$green: #679436;
$light-green: #95A472;
$white: #ffffff;
$black: #000000;
$grey: #a6a6a6;
$light-grey: #e0e0e0;
$dark-blue: #05668D;
$cream: #EBF2FA;
$light-blue: #6ba2ca;
$orange: #FFCB77;

$theme-colors: (
    'black':        $black,
    'white':        $white,
    'green':        $green,
    'light-green':  $light-green,
    'grey':         $grey,
    'cream':        $cream,
    'light-blue': $light-blue,
    'dark-blue': $dark-blue,
    'light-gren': $light-grey,
    'orange': $orange
);


// Breakpoints
$breakpoints: (
xm: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px
);

// Max container Size
$max-width: 1100px;